.sd-btn--action {
  background-color: #4D72AA;
}

.sjs_sp_container {
  border: none
}

.sjs_sp_container canvas {
  border: 1px dashed var(--border, #d6d6d6);
}

.sd-page__empty-header {
  padding: 1em;
}

.sd-html h2 {
  margin-bottom: 0.5em;
  font-weight: 600;

  &:last-child {
    margin-bottom: 0em;
  }
}

.sd-html p:only-child {
  margin-bottom: 0;
}

/* in "review mode" we don't want invisible elements to be greyed out --
   they will still be fully hidden in regular mode */
.sd-element--invisible {
  opacity: 1;
}

@media print {
  .sd-root-modern {
    background: none;
  }

  .sd-body--static {
    max-width: none !important;
  }

  .sd-element--with-frame {
    padding: 0 !important;
    box-shadow: none !important;
  }

  .sd-element--nested.sd-panel {
    border: none !important;
    padding: 0 !important;
  }

  .sd-page__row {
    break-after: page;
    margin-top: 0 !important;
  }
  .sd-page__row:last-child {
    break-after: unset;
  }

  .sd-item--disabled.sd-item--disabled .sd-item__decorator {
    print-color-adjust: exact;
    background-color: #eee;
  }
  .sd-item--disabled.sd-item--disabled .sd-item__decorator::after {
    print-color-adjust: exact;
    background-color: #666;
  }
}
