.Login-overlay {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.4;
    background-color: #888;
}

.Login-dialog {
    background: #fff;
    border-radius: 10px;
    padding: 2em;
    z-index: 2;
}

