// https://getbootstrap.com/docs/5.0/customize/sass/
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: '#281d1c';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* Based on https://getbootstrap.com/docs/5.3/components/buttons/#sass-mixins */
/* Brand color custom properties defined in App.tsx */
.App .btn-primary {
  --bs-btn-color: var(--brand-color-contrast);
  --bs-btn-bg: var(--brand-color);
  --bs-btn-border-color: var(--brand-color);
  --bs-btn-hover-color: var(--brand-color-contrast);
  --bs-btn-hover-bg: var(--brand-color-shift-15);
  --bs-btn-hover-border-color: var(--brand-color-shift-10);
  --bs-btn-focus-shadow-rgb: var(--brand-color-rgb);
  --bs-btn-active-color: var(--brand-color-contrast);
  --bs-btn-active-bg: var(--brand-color-shift-20);
  --bs-btn-active-border-color: var(--brand-color-shift-10);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--brand-color-contrast);
  --bs-btn-disabled-bg: var(--brand-color);
  --bs-btn-disabled-border-color: var(--brand-color);
}

.App .btn-outline-primary {
  --bs-btn-color: var(--brand-color);
  --bs-btn-border-color: var(--brand-color);
  --bs-btn-hover-color: var(--brand-color-contrast);
  --bs-btn-hover-bg: var(--brand-color);
  --bs-btn-hover-border-color: var(--brand-color);
  --bs-btn-focus-shadow-rgb: var(--brand-color-rgb);
  --bs-btn-active-color: var(--brand-color-contrast);
  --bs-btn-active-bg: var(--brand-color);
  --bs-btn-active-border-color: var(--brand-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--brand-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--brand-color);
  --bs-gradient: none;
}

a {
  text-decoration: none;
}

.App .navbar-nav {
  --bs-nav-link-color: var(--brand-color);
  --bs-nav-link-hover-color: var(--brand-color-shift-20);
}

.App .navbar-nav .nav-link.active {
  color: var(--brand-color);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

[aria-expanded="false"] .hidden-when-collapsed {
  display: none;
}

[aria-expanded="true"] .hidden-when-expanded {
  display: none;
}

.gene-load-spinner {
  animation-name: gene-load-spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes gene-load-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.detail {
  font-size: 0.9em;
  font-style: italic;
}

@include media-breakpoint-down(lg) {
  .configured-image {
    max-height: max(33vh, 212px);
  }
}

.btn-rounded {
  border-radius: calc((1em * var(--bs-btn-line-height) + 2 * var(--bs-btn-padding-y)) / 2);
}

.markdown {
  p:last-child {
    margin-bottom: 0;
  }
}

.hub-dashboard {
  @include media-breakpoint-up(md) {
    border-radius: var(--bs-border-radius-lg);
  }
}
