// https://getbootstrap.com/docs/5.0/customize/sass/
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: '#281d1c';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.text-primary {
  color: var(--brand-color) !important;
}

/* Based on https://getbootstrap.com/docs/5.3/components/buttons/#sass-mixins */
/* Brand color custom properties defined in App.tsx */
.btn-primary {
  --bs-btn-color: var(--brand-color-contrast);
  --bs-btn-bg: var(--brand-color);
  --bs-btn-border-color: var(--brand-color);
  --bs-btn-hover-color: var(--brand-color-contrast);
  --bs-btn-hover-bg: var(--brand-color-shift-15);
  --bs-btn-hover-border-color: var(--brand-color-shift-10);
  --bs-btn-focus-shadow-rgb: var(--brand-color-rgb);
  --bs-btn-active-color: var(--brand-color-contrast);
  --bs-btn-active-bg: var(--brand-color-shift-20);
  --bs-btn-active-border-color: var(--brand-color-shift-10);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--brand-color-contrast);
  --bs-btn-disabled-bg: var(--brand-color);
  --bs-btn-disabled-border-color: var(--brand-color);
}

.btn-outline-primary {
  --bs-btn-color: var(--brand-color);
  --bs-btn-border-color: var(--brand-color);
  --bs-btn-hover-color: var(--brand-color-contrast);
  --bs-btn-hover-bg: var(--brand-color);
  --bs-btn-hover-border-color: var(--brand-color);
  --bs-btn-focus-shadow-rgb: var(--brand-color-rgb);
  --bs-btn-active-color: var(--brand-color-contrast);
  --bs-btn-active-bg: var(--brand-color);
  --bs-btn-active-border-color: var(--brand-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--brand-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--brand-color);
  --bs-gradient: none;
}

a {
  text-decoration: none;
  color: var(--brand-color, blue);
}

.navbar-nav {
  --bs-nav-link-color: var(--brand-color);
  --bs-nav-link-hover-color: var(--brand-color-shift-20);
}

.navbar-nav .nav-link.active {
  color: var(--brand-color);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

[aria-expanded="false"] .hidden-when-collapsed {
  display: none;
}

[aria-expanded="true"] .hidden-when-expanded {
  display: none;
}

.gene-load-spinner {
  animation-name: gene-load-spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes gene-load-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.detail {
  font-size: 0.9em;
  font-style: italic;
}
/* for most customer custom media, we want a sensible max size on mobile
   so they don't have to manually scale their photos */
@include media-breakpoint-down(lg) {
  .cfg-image-confined {
     max-height: max(33vh, 212px);
  }
}

.btn-rounded {
  border-radius: calc((1em * var(--bs-btn-line-height) + 2 * var(--bs-btn-padding-y)) / 2);
}

.markdown {
  p:last-child {
    margin-bottom: 0;
  }
}

.hub-dashboard {
  @include media-breakpoint-up(md) {
    border-radius: var(--bs-border-radius-lg);
  }
}

.hub-dashboard-background {
  @include media-breakpoint-down(md) {
    background: none !important;
  }
}

.alert-primary {
  --bs-alert-color: #281D1C;
  --bs-alert-bg: var(--brand-color-shift-90);
  --bs-alert-border-color: var(--brand-color);
}

.alert-info {
  --bs-alert-color: #281D1C;
  --bs-alert-bg: #F1F7FF;
  --bs-alert-border-color: #4D72AA;
}

.alert-success {
  --bs-alert-color: #281D1C;
  --bs-alert-bg: #E3F3D9;
  --bs-alert-border-color: #A4B19C;
}

.alert-warning {
  --bs-alert-color: #281D1C;
  --bs-alert-bg: #FFF9F2;
  --bs-alert-border-color: #F7981C;
}

.alert-danger {
  --bs-alert-color: #281D1C;
  --bs-alert-bg: #FFE6E2;
  --bs-alert-border-color: #DB3214;
}

.survey-container-modal {
  background: rgb(243, 243, 243);
}
.survey-container-modal .modal-body {
  padding: 0px;
}

.survey-hide-complete #sv-nav-complete {
    display: none;
}

/* note the shadow is applied to the *child*.  This prevents jittering when the button is hovered */
.hover-shadow > * {
  box-shadow: 0 0px 10px rgba(0,0,0,.1);
}

.hover-shadow:hover > * {
  box-shadow: 0 0px 40px rgba(0,0,0,.5);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);
}


@media print {
  .environment-alert {
    display: none;
  }

  .navbar {
    display: none !important;
  }
}

.alert-circle {
  width: 25px;
  height: 25px; /* Should match width */
  border-radius: 50%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

@include media-breakpoint-down(sm) {
  .participant-selector {
    width: 100%;
  }
  .participant-selector-dropdown {
    width: 98%;
  }
}

@include media-breakpoint-up(md) {
  .participant-selector {
    width: 300px;
  }
  .participant-selector-dropdown {
    width: 300px;
  }
}
