.btn-primary {
  background-color: rgb(41, 86, 153);;
  color: #fafafa;
}

.btn-primary:hover {
  background-color: #4D72AA;
}

.btn-secondary {
  background-color: transparent;
  color:#4D72AA;
  border: none;
}

.btn-secondary[aria-disabled="true"] {
  color: #444;
  font-style: italic;
  background: none;
}

.btn-secondary:focus, .btn-secondary:hover {
  background-color: transparent;
  color:#4D72AA;
  font-weight: bold;
  border: none;
  box-shadow: none;
}

a {
  color: #4D72AA;
  text-decoration: none;
}

.gene-load-spinner {
  animation-name: gene-load-spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes gene-load-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.detail {
  font-size: 0.9em;
  color: #777;
  font-style: italic;
}

.App {
  background-color: #ededed;
}

.App-study-list {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2em;
  background: #fff;
  min-width: 300px;
}

.App-splash-background {
  background-image: url('./images/treeSplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

.svc-creator__banner {
  display: none !important;
}

.svc-json-editor-tab__content {
  min-height: 80vh;
}
.svc-tab-designer_content {
  max-height: 90vh;
}

/* Have form content editor tabs fill page height */
.FormContentEditor .tab-content,
.FormContentEditor .tab-pane.active {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar-nav-link:hover {
  background: rgba(255, 255 ,255, 0.3);
}

.nav-icon {
  color: #333F53;
}
.nav-icon:hover {
  color: #858D9A;
}
