@media print {
    body {
        visibility: hidden;
    }

    .print {
        visibility: visible !important;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: fit-content;
        -webkit-print-color-adjust: exact;
    }

    .sd-row {
        page-break-after: auto !important;
    }
}


